
body {
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.853);
  margin: 0;
  padding: 0;
  background-image: url("../images/rm183-kul-38.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.nav {
  width: 30%;
  max-width: 400px;
  height: 90px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  background-color: rgba(175, 175, 175, 0.853);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em;
  width: 90%;
  max-width: 520px;
  border-radius: 10px;
}

/* Buttons */
.btn {
  padding: 0.5em 1em;
  color: #0f0e0e;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
}

.btn:hover {
  background: #fff3;
}

/* Responsive Image */
img {
  display: block;
  width: 90%;
  max-width: 350px;
  margin:auto;
}

/* Quiz Container */
.quiz-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 2px 0px 30px 10px rgba(0, 0, 0, 0.606);
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #000;
}

h2 {
  font-size: 20px;
}

hr {
  background-color: #000000;
  height: 20px;
}

.question {
  margin-bottom: 50px;
}

label {
  display: block;
  font-size: 15px;
  float: left;
}

/* Responsive Button */
button {
  width: 80%;
  max-width: 250px;
  height: 50px;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgba(76, 75, 107, 0.664);
  font-size: 1.2em;
  font-weight: 550;
  margin: 20px auto;
  display: block;
}

button:hover {
  background-color: rgba(174, 174, 174, 0.853);
  color: rgb(44, 32, 112);
  font-size: 1.4em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      width: 90%;
  }

  .btn {
      font-size: 12px;
      padding: 0.4em;
  }

  img {
      width: 90%;
  }

  h1 {
      font-size: 20px;
  }

  h2 {
      font-size: 16px;
  }

  .quiz-container {
      padding: 30px 15px;
  }

  button {
      font-size: 1em;
      height: 45px;
  }
}

@media (max-width: 480px) {
  .container {
      width: 100%;
      padding: 10px;
  }

  .btn {
      font-size: 12px;
      padding: 0.3em;
  }

  img {
      width: 100%;
  }

  h1 {
      font-size: 18px;
  }

  .quiz-container {
      padding: 20px;
  }

  button {
      font-size: 1em;
      width: 90%;
      height: 40px;
  }
}
